{% extends 'base.html' %}

{% block content %}

<h1>{{ profile_user.username }} 의 프로필 </h1>

<div>
  팔로워 수: 00
</div>
<div>
  팔로잉 수: 00
</div>

<div>
  <button>팔로우</button>
</div>

<h2>작성글</h2>
<ul>
  {% for feed in profile_user.feeds.all %}
  <li>
    <a href="{% url 'board:feed_detail' feed.pk %}">
      {{ feed.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<hr>

<h2>좋아요 한 글</h2>
<ul>
  {% for feed in profile_user.like_feeds.all %}
  <li>
    <a href="{% url 'board:feed_detail' feed.pk %}">
      {{ feed.title }}
    </a>
  </li>
  {% endfor %}
</ul>

<hr>

<h2>댓글 모음</h2>
<ul>
  {% for reaction in profile_user.reactions.all %}
  <li>
    <a href="{% url 'board:feed_detail' reaction.feed.pk %}">
      {{ reaction.content }}
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock content %}